@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

/*==============================
*       Simple Pagination
============================== */
.pagination {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.btn {
  display: inline-block;
  background: #ffffff;
  color: #0a0722;
  font-size: 16px;
  font-weight: 600;
  font-family: "poppins", sans-serif;
  line-height: 42px;
  padding: 0;
  border-radius: 50%;
  border: 0;
  height: 42px;
  width: 42px;
  cursor: pointer;
  border: 1px solid;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.strong {
  font-size: 20px;
  font-family: "poppins", sans-serif;
  font-weight: 600;
}

.span {
  font-size: 20px;
  font-family: "poppins", sans-serif;
  line-height: 0;
  letter-spacing: 3px;
  position: relative;
  top: -3px;
  left: 2px;
}

.active {
  color: #ffffff;
  background: rgb(32, 32, 72);
  border-color: #554a90;
  cursor: default;
  opacity: 0.9;
}

.hidden {
  opacity: 0.4;
  cursor: default;
}

.label {
  font-size: 14px;
  font-family: "poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  margin-top: 0.5rem;
}

@media screen and (max-width: 575.98px) {
  .pagination {
    gap: 10px;
    margin-top: 2.4rem;
    margin-bottom: 1rem;
  }

  .btn {
    font-size: 15px;
    line-height: 36px;
    height: 36px;
    width: 36px;
  }

  .span {
    letter-spacing: 2px;
  }

  .arrow {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .btn {
    font-size: 15px;
    line-height: 34px;
    height: 34px;
    width: 34px;
  }
}
